USE [prjecthejer_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16-Sep-2025 4:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 16-Sep-2025 4:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityImages]    Script Date: 16-Sep-2025 4:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityImages](
	[Id] [uniqueidentifier] NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[EntityTypeId] [uniqueidentifier] NOT NULL,
	[Base64Image] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityTypes]    Script Date: 16-Sep-2025 4:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityTypes](
	[EntityTypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 16-Sep-2025 4:11:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[LeadId] [uniqueidentifier] NOT NULL,
	[LeadName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [Name], [Email], [Phone], [CreatedAt]) VALUES (N'bbf2a8b1-2d1c-4e99-909a-0f3d3a94f8c7', N'Alice Smith', N'alice@example.com', N'9876543210', CAST(N'2025-09-16T00:14:40.1091094' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [Name], [Email], [Phone], [CreatedAt]) VALUES (N'3f12d4b2-76ab-46f3-b5a4-8e2c9b1d0e12', N'John Doe', N'john@example.com', N'1234567890', CAST(N'2025-09-16T00:14:40.1089814' AS DateTime2))
GO
INSERT [dbo].[EntityTypes] ([EntityTypeId], [Name]) VALUES (N'7e5a1a10-3c7a-4b2c-8a7f-1c6d9b3a0f55', N'Customer')
INSERT [dbo].[EntityTypes] ([EntityTypeId], [Name]) VALUES (N'c23f43de-8b77-42db-a9a5-4f7a2d6f1c11', N'Lead')
GO
INSERT [dbo].[Leads] ([LeadId], [LeadName], [Email], [Phone], [CreatedAt]) VALUES (N'54d3a8b0-5a29-41d7-9f92-1c73a98b42f4', N'Bob Potential', N'bob@leads.com', N'111222333', CAST(N'2025-09-16T00:14:40.2565309' AS DateTime2))
INSERT [dbo].[Leads] ([LeadId], [LeadName], [Email], [Phone], [CreatedAt]) VALUES (N'9c81f52a-2b47-4c5a-872e-4f51c2a934b7', N'Carol Prospect', N'carol@leads.com', N'444555666', CAST(N'2025-09-16T00:14:40.2566051' AS DateTime2))
GO
/****** Object:  Index [IX_EntityImages_Entity]    Script Date: 16-Sep-2025 4:11:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_EntityImages_Entity] ON [dbo].[EntityImages]
(
	[EntityId] ASC,
	[EntityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EntityTy__737584F6C7349320]    Script Date: 16-Sep-2025 4:11:32 PM ******/
ALTER TABLE [dbo].[EntityTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newid()) FOR [CustomerId]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EntityImages] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[EntityImages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EntityTypes] ADD  DEFAULT (newid()) FOR [EntityTypeId]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (newid()) FOR [LeadId]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EntityImages]  WITH CHECK ADD  CONSTRAINT [FK_EntityImages_EntityTypes] FOREIGN KEY([EntityTypeId])
REFERENCES [dbo].[EntityTypes] ([EntityTypeId])
GO
ALTER TABLE [dbo].[EntityImages] CHECK CONSTRAINT [FK_EntityImages_EntityTypes]
GO
USE [master]
GO
